@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Raleway:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    background-color: rgb(236, 236, 236);
    font-family: 'Quicksand', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

textarea, input { outline: none; }

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    -webkit-appearance: none;
}

.no-outline:focus {
    outline: none;
}

.bg-white {
    background-color: rgb(250, 250, 250);
}

.bg-soft-gray{
    background-color: rgb(25, 25, 25);
}

.bg-c-none {
    background-color: rgba(0, 0, 0, 0);
}

.bg-uset {
    background-color: unset;
}

.bg-blue {
    background-color: rgb(67, 67, 238);
}

.gray-400 {
    color: rgb(157, 157, 157);
}

.p-small {
    padding: 3px;
}

.p-1 {
    padding: 1em;
}

.p-2 {
    padding: 2em;
}

.p-3 {
    padding: 3em;
}

.p-4 {
    padding: 4em;
}

.pt-4 {
    padding-top: 4em;
}

.m-1 {
    margin: 1em;
}

.m-2 {
    margin: 2em;
}

.m-3 {
    margin: 3em;
}

.m-4 {
    margin: 4em;
}

.ml-1 {
    margin-left: 1em;
}

.ml-2 {
    margin-left: 2em;
}

.ml-3 {
    margin-left: 3em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-4 {
    margin-top: 4em;
}

.flex {
    display: flex;
}

.inline {
    display: inline;
}

.jc-space-bet {
    justify-content: space-between;
}

.jc-space-cen {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.text-dec-none {
    text-decoration: none;
}

.text-align-right {
    text-align: right;
}

.small {
    font-size: 10pt;
}

.large {
    font-size: 350pt;
}

.abs {
    position: absolute;
}

.light {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.light-color {
    color: rgb(184, 184, 184);
}

.white-color {
    color: rgb(245, 245, 245);
}

.very-soft {
    color: rgba(0, 0, 0, 0.047);
}

.select-none {
    user-select: none;
}

.rounded {
    border-radius: 20px;
}

.nav {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
}

.bg-trans {
    background-color: transparent;
}

.shadow {
    -webkit-box-shadow: -3px 27px 60px -29px rgba(0, 0, 0, 0.544);
    -moz-box-shadow: -3px 27px 60px -29px rgba(0, 0, 0, 0.544);
    box-shadow: -3px 27px 60px -29px rgba(0, 0, 0, 0.544);
}

.miss {
    top: 1.6em;
    right: 0.2em;
}

.nav__menu {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.nav__list {
    background-color: transparent;
}

.nav__list_item {
    background-color: transparent;
}

.nav__list_item_text {
    font-size: 14pt;
    transition: ease-in;
    animation-duration: 1s;
    user-select: none;
}

.nav__list_item_text--hover:hover {
    color: rgb(209, 209, 209);
}

.logo {
    width: 70px;
    height: 70px;
    background-color: gray;
    cursor: pointer;
}

.container__hot_offer {
    width: 100px;
    height: 70px;
    margin-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link__hot_offer {
    background-color: rgb(118, 118, 255);
    color: white;
    text-decoration: none;
    padding: 0.7em;
    border-radius: 30px;
}


.banner {
    width: 100%;
    height: 650px;
    background-color: white;
}

/* Top Banner */

.top-banner {
    background: linear-gradient(0deg, rgba(22, 39, 93, 0.544), rgba(49, 14, 34, 0.911)), url('./image/home.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top-banner-text-container {
    width: 700px;
}

.top-banner-display-text {
    font-size: 80pt;
}

/* Second Banner */

.second-banner {
    background-color: white;
}

.second-banner-text {
    width: 400px;
    margin-right: 6em;
}

.second-banner-text-h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 30pt;
    background-color: transparent;
}

.display-font {
    font-family: 'DM Sans', sans-serif;
}

.ableton-image {
    width: 800px;
    height: 300px;
    background-image: url('./image/ableton.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.third-banner {
    background-color: rgb(245, 245, 245);
}

.third-banner-image {
    width: 600px;
    height: 600px;
    background-image: url('./image/abletonpush.jpg');
    background-size: cover;
    background-position: center;
}

.text-third-banner {
    width: 500px;
    margin-left: 5em;
}

/* forth banner */


.artist-container {
    width: 350px;
}

.artist-font {
    margin-top: 1em;
    margin-left: 2em;
    width: 350px;
}

.round-container {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.artist-name {
    text-align: left;
    margin-top: 1em;
    margin-left: 2.3em;
    width: 350px;
    color: rgb(165, 165, 165);
}

.artist-image02 {
    background-image: url('./image/melanie.jpg');
    background-size: cover;
    background-position: center;
}

.artist-image01 {
    background-image: url('./image/abhe.jpg');
    background-size: cover;
    background-position: center;
}

.artist-image03 {
    background-image: url('./image/joel.jpg');
    background-size: cover;
    background-position: center;
}

.fifth-banner {
    width: 100%;
    height: 230px;
    background: linear-gradient(90deg, rgba(118,190,255,1) 0%, rgb(118, 118, 255) 100%);
}

.fifth-banner-container {
    width: 805px;
}

.fifth-banner-container h2 {
    margin-top: 1em;
    text-align: center;
    margin-bottom: 0.8em;
}

.fifth-banner-input-style-name {
   background-color: rgb(221, 221, 221);
   padding: 1.6em 0em;
   border: none;
   width: 300px;
   border-radius: 5px;
   text-indent: 30px;
}

.fifth-banner-input-style-name:focus {
    background-color: rgb(255, 255, 255);
 }

.fifth-banner-input-style-email {
    background-color: rgb(221, 221, 221);
    padding: 1.6em 0em;
    border: none;
    width: 500px;
    border-radius: 5px;
    text-indent: 30px;
 }

 .fifth-banner-input-style-email:focus {
    background-color: rgb(255, 255, 255);
 }

.fifth-banner-input-style-button {
    display: block;
    background-color: transparent;
    margin-top: 0.5em;
    padding: 1.6em 0em;
    border: none;
    width: 805px;
    border-radius: 5px;
    text-indent: 30px;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 10pt;
    transition: 0.3s;
}

.fifth-banner-input-style-button:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.551) 0%, rgba(214, 214, 214, 0.53) 10%);
}


/* Footer */

footer {
    width: 100%;
    height: 220px;
    flex-direction: column;
}

.social-container {
    width: 500px;
}

.social-icon-container {
    width: 43px;
    height: 43px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

.social-icon-container:hover {
    background-color: white;
}

.social-icon-container:hover i {
    color: black;
}

.social-icon-container i {
    color: white;
    font-size: 18pt;
}

.divider {
    background-color: white;
    height: 2px;
    width: 50%;
    margin-bottom: 0.8em;
}

/* =========================  album page  ========================== */

.display-banner {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-no-style {
    list-style-type: none;
}

.albums-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5em;
}

.album-container {
    margin: 1em;
    width: 300px;
    height: 330px;
    background-color: rgb(240, 240, 240);
    border-radius: 0.4em;
}

.album-image {
    width: 300px;
    height: 250px;
    background-color: black;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

.album-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.album-title {
    margin-left: 0.4em;
    margin-bottom: 0.2em;
}

.album-list-item {
    margin-left: 4px;
    padding: 5px;
    flex-wrap: wrap;
    color: white;
}



